<%- include Partials/header.ejs%>
    <h1>About</h1>
    <p>I am <%= myName %></p>
    <p>My age is <%= age %></p>
    <p>The month is <%= month %></p>
<p>hello world</p>
    <img src="images/kate.jpg" title="Kate"/>
</body>
</html>